.burhernav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  width: 300px;
  z-index: 16;
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: start;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  font-weight: 600;

  li {
    padding: 15px 0;
  }

  a {
  }
}
